@model testeIdentity.Models.ProdutosPedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutosPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutosCardapio.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutosCardapio.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
